.header {
  &__nav {
    padding: 24px;
  }

  &__logo {
    img {
     width: 8.8rem;
     height: 1.375;
    }
  }

  &__humburger {
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $Dark-blue;

      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }

  &__links{
       a{
          font-size: $font-sm;
          padding-bottom: 10px;
          color: $Grayish-blue; 
          &:not(:last-child){
            margin-right: 2rem;
          }

          &:hover{
            color: $Dark-blue; 
            transition: color 200ms ease;
            border-bottom: 5px solid $lim-green;
            transition: border-bottom 200ms ease;
          }
       }
  }
}

