$Dark-blue: hsl(233, 26%, 24%);
$Lim-green: hsl(136, 65%, 51%);
$Bright-can: hsl(192, 70%, 51%);


$Grayish-blue: hsl(233, 8%, 62%);
$Light-grayish-blue: hsl(220, 16%, 96%);
$Very-ight-gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);