$Dark-blue: hsl(233, 26%, 24%);
$lim-green: rgb(49, 211, 92);
$bright-can: hsl(192, 70%, 51%);


$Grayish-blue: hsl(233, 8%, 62%);
$Light-grayish-blue: hsl(220, 16%, 96%);
$Very-ight-gray: hsl(0, 0%, 98%);
$White: hsl(0, 0%, 100%);

// Font sizes
$font-sm:0.85rem;
$font-med: 1.25rem;